<h3 id="header-body">Welcome to EurLeagues</h3>
<div id="tab-body">
  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#panel2-1">About</a></li>
    <li class="tab-title"><a href="#panel2-2">Why only European Leagues?</a></li>
    <li class="tab-title"><a href="#panel2-3">What's the benefit?</a></li>
  </ul>
  <div class="tabs-content">
    <div class="content active" id="panel2-1">
      <p>EurLeagues let's you follow your favorite European football leagues. You can choose leauges, teams, even players. Get the very latest blogs, articles, tweets, stats and any other update you can imagine. But make it your own</p>
    </div>
    <div class="content" id="panel2-2">
      <p>Honestly, that's where the excitement is. These leagues feature the best players in the world and are the height of drama.</p>
    </div>
    <div class="content" id="panel2-3">
      <p>This site will only feature football (ok, soccer). You won't be bombarded with tons of other sports. Let this be your soccer home, away from every other distraction in your life. You'll keep the most up to date as you want to be. Get updates on your favorite players or teams while they play, get the latest news and blog articles, right when they're published. This is amazing!!!</p>
    </div>
  </div>

</div>

<section id="create-account-body">
  <a href="#" class="button">Create an account</a>

</section>