<h3 id="header-body">Welcome to Eur Leagues</h3>
<nav> 
    <ul class="side-nav">
      <div class="reveal-list1">
        <li><a>Leagues</a>
      </div>
        <div class="row hidden-list1">
          <div class="large-5 columns">
            <ul class="side-nav">
              <li><a href="leagues/1">English Premier League</a></li>
              <li><a href="leagues/2">Bundesliga</a></li>
            </ul>
          </div>
          <div class="large-7 columns">
            <ul class="side-nav">
              <li><a href="leagues/4">La Liga</a></li>
              <li><a href="leagues/3">Series A</a></li>
            </ul>
          </div>
        </div>
      </li>
      <!-- <div class="reveal-list2">
       <li><a>Teams</a>
      </div>
        <div class="row hidden-list2">
          <div class="large-3 columns">
            <ul class="side-nav">
              <li><a href="">Arsenal</a></li>
              <li><a href="">Aston Villa</a></li>
              <li><a href="">Burnley</a></li>
              <li><a href="">Chelsea</a></li>
              <li><a href="">Crystal Palace</a></li>
            </ul>
          </div>
          <div class="large-3 columns">
            <ul class="side-nav">
              <li><a href="">Everton</a></li>
              <li><a href="">Hull City</a></li>
              <li><a href="">Leicester</a></li>
              <li><a href="">Liverpool</a></li>
              <li><a href="">Manchester City</a></li>
            </ul>
          </div>
          <div class="large-3 columns">
            <ul class="side-nav">
              <li><a href="">Manchester United</a></li>
              <li><a href="">Newcastle</a></li>
              <li><a href="">QPR</a></li>
              <li><a href="">Southampton</a></li>
              <li><a href="">Stoke City</a></li>
            </ul>
          </div>
          <div class="large-3 columns">
            <ul class="side-nav">
              <li><a href="">Sunderland</a></li>
              <li><a href="">Swansea City</a></li>
              <li><a href="">Tottenham Hotspurs</a></li>
              <li><a href="">West Bromwich Albion</a></li>
              <li><a href="">West Ham United</a></li>
            </ul>
          </div>
        </div> -->
      </li>
    </ul>
  </nav>

<div id="tab-body">
  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#panel1a">About</a></li>
    <li class="tab-title"><a href="#panel2a">Why only European Leagues?</a></li>
    <li class="tab-title"><a href="#panel3a">What's the benefit?</a></li>
  </ul>
  <div class="tabs-content">
    <div class="content active" id="panel1a">
      <p>EurLeagues let's you follow your favorite European football leagues. You can choose leauges, teams, even players. Get the very latest blogs, articles, tweets, stats and any other update you can imagine. But make it your own</p>
    </div>
    <div class="content" id="panel2a">
      <p>Honestly, that's where the excitement is. These leagues feature the best players in the world and are the height of drama.</p>
    </div>
    <div class="content" id="panel3a">
      <p>This site will only feature football (ok, soccer). You won't be bombarded with tons of other sports. Let this be your soccer home, away from every other distraction in your life. You'll keep the most up to date as you want to be. Get updates on your favorite players or teams while they play, get the latest news and blog articles, right when they're published. This is amazing!!!</p>
    </div>
  </div>

</div>

<section id="create-account-body">
  <a href="#" class="button">Create an account</a>

</section>