<div class="row">
  <h3>Here are the European leagues</h3>

  <div>
    <ul>
      <% @leagues.each do |league| %>
        <li class="show-league-padding"><h2><a href="/leagues/<%= league.slug %>"><%= league.league %></a></h2></li>
          <div class="row">
        
          <ul>
            <% league.teams.each do |team| %>
            <div class="large-6 columns">
              <li class="sub-nav"><a href="../teams/<%= team.slug %>"><%= team.team %></a></li>
            </div>

            <% end %>
            
            <div class="large-3 columns">
            <img src="http://cdn1.mos.techradar.futurecdn.net/////art/logos/premier-league1%20copy-578-80.jpg" width="200" height="200">
            
            </div>
          </ul>
          
          </div>
      <% end %>
    </ul>
  </div>
</div>

