<%= @player %>




<div>
        <a class="button small red-text-buttons" href="/players/<%= @player.slug %>/edit">Edit</a>

        <a class="button small red-text-buttons" data-confirm="Are you sure?" data-method="delete" href="<%= "/players"%>" rel="nofollow">Destroy</a>
      </div>