// $tabs-navigation-bg-color: black;

body {
	background-image: url(background.jpg);
	color: black;
	margin: auto;
	width: 80%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3 {
	color: lighten(#d9d9d9, 20);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2.5em;
}

a:hover {
	color: #FF3300;
}
.button:hover {
	background: #FF3300;
}

#tab-body {
	background: #d9d9d9;
	margin: auto;
	width: 65%;

}
.tabs {
	background: #ED6D4D;
}

.content p {
	margin-right: 10px;
	margin-left: 10px;
}

#header-body {
	margin:auto;
	width: 45%;
	margin-top: 50px;
	margin-bottom: 50px;
}

#create-account-body {
	margin: auto;
	width: 25%;
}

.form-cancel-button {
	margin: 40px 0 0 16px;
}

.hidden-list1, .hidden-list2 {
	background-image: url(background8.jpg);

}
.hidden-list1 {
	display: none;
}
.team-title {
	float: right;
}