// $tabs-navigation-bg-color: black;

.home-page {
	background: url(background-soccer8.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
	color: lighten(#d9d9d9, 20);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2.5em;
}

.home-form {
	background: rgba(0,0,0,.7);
	
}

.form-inputs {
	margin-top: 20px;
}

.small {
	background: rgba(255, 18, 18,0);
	border: #ff1212 solid;
}

.small:hover {
	background: #ff1212;
}

.login-button {
	float: right;
}

.login-button a{
	color: white;
}

.form-margin {
	margin-top: 150px;
}

.accordion-navigation {
	width: 343px;
}

.accordion-navigation:hover {
	 background: rgba(0,0,0,.3);
}
.login-form {
	margin-left: 15px;
}
.hidden-form {

}
.action-button-margin {
	margin-top: 32px;
}

.league-dropdown {
	margin-left: -60px;
	background: rgba(255,18,18,.7);
}
.league-dropdown:hover {
	background: rgb(255,18,18);
}
.cancel-button {
	margin-left: 15px;
}
.red-text-buttons {
	color: rgb(255,18,18);
}
.red-text-buttons a{
	color: rgb(255,18,18);
}
.red-text-buttons a:hover {
	color: white;
}
.sign-in-page {
	background: #fff;
}
.show-league-padding {
	list-style: none;
	margin: 15px 0;
}
